@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
    padding: 0px;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 422px;
    width: 210px;
    background: url('../imagens/frame-iphone3.png') no-repeat;
}
#tela{
    position: relative;
    top: 55px;
    left: 16px;
    width: 180px;
    height: 315px;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img:hover{
    border: white solid 2px;
    transform: translate(-10px);
    transition: transform .5s;
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}